<!DOCTYPE html>
<html>
<head>
  <title>
    <link rel="stylesheet"href="index.css">
    </title>
</head>
<body>
  <form action="">
    <h4>Product Name:
      <br><input type="text" placeholder="Enter product name"name="productname"></h4>
    <h4>Product ID:
      <br><input type="text" placeholder="Enter product id"name="productid"></h4>
 <h4>Product URL:
      <br><input type="text" placeholder="Enter product url "name="producturl"></h4>
 <h4>Unique ID:
      <br><input type="text" placeholder="Enter unique id"name="uniqueid"></h4>
 <h4>Retail Price:
      <br><input type="text" placeholder="Enter retail price"name="retailprice"></h4>
      
    <button type="submit" class="submit-btn"><h3>Add Block</h3></button>
    
</body>
</html>