<!DOCTYPE html>
<html>
<head>
  <title>
    <link rel="stylesheet" href="index.css">
    </title>
    <style>
      <body>
        font-family: sans-serif;
      </body>
    </style>
</head>
<body>
  <form action="">
    <h2>Login Form</h2>
    <h4>Username:
      <br><input type="text" name="username"></h4>
    <h4>Password:
        <br><input type="password" name="password"></h4>
    <button type="submit" class="submit-btn"><p>Log In </p></button>
    <br><button type="submit" class="register-btn"><p>Register </p></button>
</body>
</html>