<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='search_product.css') }}">
  <title>Search Product</title>
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
    </ul>
  </nav>
  
  <form method="post" action="/search_product" class="search-product-form">
    <h2>Search Product</h2>
    <label for="productname">Product Name:</label>
    <input type="text" id="productname" placeholder="Enter product name" name="productname" required>

    <label for="brand">Brand:</label>
    <input type="text" id="brand" placeholder="Enter Brand" name="brand" required>
  
    <label for="productid">Product ID:</label>
    <input type="text" id="productid" placeholder="Enter Product ID" name="productid" required>
  
    <label for="uniqueid">Unique ID:</label>
    <input type="text" id="uniqueid" placeholder="Enter Unique ID" name="uniqueid" required>

    <label for="retailprice">Retail Price:</label>
    <input type="text" id="retailprice" placeholder="Enter retail price" name="retailprice" required>
   
    <label for="discountedprice">Discounted Price:</label>
    <input type="text" id="discountedprice" placeholder="Enter  Discounted Price" name="discountedprice" required>
   
    <button type="submit" class="submit-btn">Search Product</button>
  </form>   
</body>
</html>